.course-cell {
    position: relative;
}

.prereq-popup,
.coreq-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1;
    width: auto;
    white-space: nowrap;
}

.course-cell:hover .prereq-popup,
.course-cell:hover .coreq-popup {
    display: block;
}
