<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Parser</title>
</head>
<body>
    <h1>{{program}} Course Schedule</h1>
    <table class="sortable">
        <tr>
            <th>Term</th>
            <th>Course</th>
        </tr>
        {% for term in range(1, max_term + 1) %}
            <tr class="sortable-row">
                <td style="vertical-align: middle;">
                    {{ courses|selectattr('term', 'equalto', term)|map(attribute='credits')|sum }}
                </td>
                <td>
                    <table class="course-table">
                        <tr>
                            {% set courses_for_term = courses|selectattr('term', 'equalto', term)|list %}
                            {% for course in courses_for_term %}
                            <td class="course-cell" id="{{ course.course_code }}">
                                <a href="https://www.mcgill.ca/study/courses/{{ course.course_code | replace(' ', '-') | lower }}"
                                   onmouseover="highlightPrereqsAndCoreqs('{{ course.course_code }}', '{{ course.prerequisites|join(',') }}', '{{ course.corequisites|join(',') }}')"
                                   onmouseout="removeHighlights('{{ course.course_code }}', '{{ course.prerequisites|join(',') }}', '{{ course.corequisites|join(',') }}')">
                                    {{ course.course_code }}
                                    <div class="course-credits">{{ course.credits }} credits</div>
                                    <div class="tooltip">{{ course.course_name }}</div>
                                </a>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
